<div class="edit-article-container">
  <h2>Edit Article</h2>
  <div class="edit-article-toolbar">
      <button mat-button (click)="onInsertImage()">Insert Image</button>
  </div>
  <textarea [(ngModel)]="rawArticle" class="edit-article-text"></textarea>
  <label>{{message}}</label>
  <div class="edit-article-toolbar">
      <button mat-button (click)="cancel()">Close</button>
      <button mat-flat-button [disabled]="updating" (click)="update()">Save</button>
  </div>
  <app-article-image [isOpen]="openInsertImage" [key]="articleKey" (close)="closeInsertImage()"></app-article-image>
</div>
