<app-stage-toolbar [buttons]="albumsToolButtons"></app-stage-toolbar>
<div class="album-list-container">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> Title </th>
        <td mat-cell *matCellDef="let element"> {{element.title}} </td>
      </ng-container>
    
      <ng-container matColumnDef="key">
        <th mat-header-cell *matHeaderCellDef> Key </th>
        <td mat-cell *matCellDef="let element"> {{element.key}} </td>
      </ng-container>
    
      <ng-container matColumnDef="photos">
        <th mat-header-cell *matHeaderCellDef> Photos </th>
        <td mat-cell *matCellDef="let element"> {{element.photos}} </td>
      </ng-container>
    
      <ng-container matColumnDef="cover">
        <th mat-header-cell *matHeaderCellDef> Cover </th>
        <td mat-cell *matCellDef="let element"> {{element.cover}} </td>
      </ng-container>
    
      <ng-container matColumnDef="timestamp">
        <th mat-header-cell *matHeaderCellDef> Date Added </th>
        <td mat-cell *matCellDef="let element"> {{element.timestamp | date:'medium'}} </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr class="table-row" mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectRow(row)"></tr>
    </table>
    <mat-paginator #paginator [length]="total"
              [pageSize]="pageSize"
              [pageSizeOptions]="pageSizeOptions"
              (page)="pageEvent = $event">
    </mat-paginator>
</div>
