.container {
    margin: 1em;
}

.change-password {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.change-name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}