<div class="container">
  <h3>Change Password</h3>
  <mat-divider></mat-divider>
  <div class="change-password">
      <mat-form-field>
          <input type="password" matInput [(ngModel)]="oldPassword" placeholder="Old Password">
      </mat-form-field>
      <mat-form-field>
          <input type="password" matInput [(ngModel)]="newPassword" placeholder="New Password">
      </mat-form-field>
      <button mat-flat-button (click)="onPasswordChange()">Change</button>
      <p>{{message}}</p>
  </div>
  <h3>Change Name</h3>
  <mat-divider></mat-divider>
  <div class="change-name">
      <mat-form-field>
          <input matInput [(ngModel)]="name" placeholder="Name">
      </mat-form-field>
      <button mat-flat-button (click)="onNameChange()">Change</button>
  </div>
</div>

