<mat-nav-list>
    <a mat-list-item [routerLink]="['dashboard']" routerLinkActive="active">
        <mat-icon matListIcon>dashboard</mat-icon>
        <p matLine>Dashboard</p>
    </a>
    <mat-divider></mat-divider>
    <a mat-list-item [routerLink]="['albums']" routerLinkActive="active">
        <mat-icon matListIcon>photo_album</mat-icon>
        <p matLine>Albums</p>
    </a>
    <mat-divider></mat-divider>
    <a mat-list-item [routerLink]="['diagnostics']" routerLinkActive="active">
        <mat-icon matListIcon>check_circle</mat-icon>
        <p matLine>Diagnostics</p>
    </a>
    <a mat-list-item [routerLink]="['messages']" routerLinkActive="active">
        <mat-icon matListIcon>message</mat-icon>
        <p matLine>Messages</p>
    </a>
    <a mat-list-item [routerLink]="['presets']" routerLinkActive="active">
        <mat-icon matListIcon>compare</mat-icon>
        <p matLine>Presets</p>
    </a>
    <a mat-list-item [routerLink]="['articles']" routerLinkActive="active">
        <mat-icon matListIcon>insert_drive_file</mat-icon>
        <p matLine>Articles</p>
    </a>
    <a mat-list-item [routerLink]="['settings']" routerLinkActive="active">
        <mat-icon matListIcon>settings</mat-icon>
        <p matLine>Settings</p>
    </a>
    <a mat-list-item [routerLink]="['subscriptions']" routerLinkActive="active">
        <mat-icon matListIcon>subscriptions</mat-icon>
        <p matLine>Subscriptions</p>
    </a>
</mat-nav-list>
