<div *ngIf="isOpen" class="main-container">
  <div class="sub-container mat-app-background">
    <mat-horizontal-stepper [linear]="true" #stepper>
      <mat-step [stepControl]="infoGroup">
        <form [formGroup]="infoGroup">
          <ng-template matStepLabel>Check Availability</ng-template>
          <div class="form">
            <mat-form-field>
              <input matInput placeholder="Title" formControlName="title" required>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Key" formControlName="key" required>
            </mat-form-field>
            <mat-form-field>
                <textarea matInput placeholder="Description" formControlName="description" required></textarea>
            </mat-form-field>
            
            <button mat-button matStepperNext (click)="onCreateAlbumNext(stepper)">Next</button>
            <label *ngIf="error">{{error}}</label>
          </div>
        </form>
      </mat-step>
      <mat-step [completed]="photosUploadComplete">
        <ng-template matStepLabel>Add Photos</ng-template>
        <app-add-photos [albumKey]="albumKey" (complete)="onPhotosUploadComplete()"></app-add-photos>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Add Cover</ng-template>
        <app-add-cover [albumKey]="albumKey" (complete)="onCoverUploadComplete()"></app-add-cover>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="closeModal()" [disabled]="!coverUploadComplete">Finish</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
    <div class="buttons">
      <button mat-button (click)="closeModal()">Close</button>
    </div>
  </div>
</div>