<div *ngIf="isOpen" class="main-container">
  <div class="sub-container mat-app-background">
    <mat-horizontal-stepper [linear]="true" #stepper>
      <mat-step [stepControl]="infoGroup">
        <form [formGroup]="infoGroup">
          <ng-template matStepLabel>Check Availability</ng-template>
          <div class="form">
            <mat-form-field>
              <input matInput placeholder="Title" formControlName="title" required>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Key" formControlName="key" required>
            </mat-form-field>
            <mat-form-field>
                <textarea matInput placeholder="Description" formControlName="description" required></textarea>
            </mat-form-field>
            
            <button mat-button matStepperNext (click)="onCreateAlbumNext(stepper)">Next</button>
            <label *ngIf="error">{{error}}</label>
          </div>
        </form>
      </mat-step>
      <mat-step [completed]="photosUploadComplete">
        <ng-template matStepLabel>Add Photos</ng-template>
        <button mat-raised-button (click)="imgFileInput.click()">Select Photos</button>
        <input hidden type="file" #imgFileInput (change)="onPhotosQueued($event)" multiple/>
        <div class="photo-queue">
          <ng-container *ngFor="let photo of photos">
            <app-photo-upload [file]="photo" [key]="albumKey" (complete)="onPhotoUploadComplete($event)"></app-photo-upload>
          </ng-container>
        </div>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Add Cover</ng-template>
        <button mat-raised-button (click)="imgFileInput2.click()">Select Cover</button>
        <input hidden type="file" #imgFileInput2 (change)="onCoverQueued($event)"/>
        <div class="photo-queue">
          <ng-container *ngIf="cover !== undefined">
            <app-photo-upload [file]="cover" [key]="albumKey" [type]="cover" (complete)="onCoverUploadComplete($event)"></app-photo-upload>
          </ng-container>
        </div>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="closeModal()" [disabled]="!coverUploadComplete">Finish</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
    <div class="buttons">
      <button mat-button (click)="closeModal()">Close</button>
    </div>
  </div>
</div>