.container {
    margin: 1em;
    display: flex;
    flex-direction: column;
}

.basic-info-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.profile {
    border-radius: 50%;
    display: block;
    width: 3em;
    height: auto;
    padding: 0.5em;
}

.name-container {
    display: flex;
    flex-direction: column;
    padding: 0.5em;
}

.admin-name {
    font-size: 2em;
}

.category-name {
    font-size: 0.8em;
}

.button-container {
    margin-top: 2em;
    margin-bottom: 1em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}