<div class="container">
    <div class="basic-info-container">
        <img class="profile" src={{profilePic}} alt="profile_pic">
        <div class="name-container">
            <label class="admin-name">{{name}}</label>
            <label class="category-name">{{type | adminUserType}}</label>
        </div>
    </div>
    <div class="button-container">
        <a style="color: inherit" [routerLink]="['account']" routerLinkActive="active">
            <button mat-button>Account</button>
        </a>
        <button mat-flat-button (click)="onLogOut()">Logout</button>
    </div>
    <mat-divider></mat-divider>
</div>