<app-stage-toolbar [buttons]="toolBarButtons"></app-stage-toolbar>
<div class="table-container">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> Title </th>
        <td mat-cell *matCellDef="let element"> {{element.title}} </td>
      </ng-container>
    
      <ng-container matColumnDef="key">
        <th mat-header-cell *matHeaderCellDef> Key </th>
        <td mat-cell *matCellDef="let element"> {{element.key}} </td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
      </ng-container>

      <ng-container matColumnDef="author">
        <th mat-header-cell *matHeaderCellDef> Author </th>
        <td mat-cell *matCellDef="let element"> {{element.author}} </td>
      </ng-container>

      <ng-container matColumnDef="active">
        <th mat-header-cell *matHeaderCellDef> Active </th>
        <td mat-cell *matCellDef="let element"> {{element.active}} </td>
      </ng-container>

      <ng-container matColumnDef="timestamp">
        <th mat-header-cell *matHeaderCellDef> Date Added </th>
        <td mat-cell *matCellDef="let element"> {{element.timestamp | date:'medium'}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element" (click)="$event.stopPropagation()">
          <button mat-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
          <mat-menu #menu="matMenu" [overlapTrigger]="false">
            <button class="menu-button" mat-menu-item (click)="editArticle(element.key)">Edit</button>
            <button class="menu-button" mat-menu-item (click)="deleteArticle(element.key)">Delete</button>
            <button *ngIf="!element.active" class="menu-button" mat-menu-item (click)="activate(element.key)">Activate</button>
            <button *ngIf="element.active" class="menu-button" mat-menu-item (click)="deactivate(element.key)">Deactivate</button>
          </mat-menu>
        </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr class="table-row" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator #paginator [length]="total"
              [pageSize]="pageSize"
              [pageSizeOptions]="pageSizeOptions"
              (page)="pageEvent = $event">
    </mat-paginator>
    <app-new-article [isOpen]="openNewArticle" (close)="closeNewArticle()"></app-new-article>
</div>